* {
	padding: 0px;
	margin: 0px;
}

.mainwrap{
/*font-family: "franklin-gothic-urw", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

*/

font-family: Segoe UI;
font-weight: lighter;
font-size: 45px;
color:white;
/*height: 100%;*/
height: auto;
min-height: 900px;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 10px solid #2176AC;
/*background-color: #05074D;*/
background:-webkit-radial-gradient(#215C98, #000308); 
background:radial-gradient(#215C98, #000308); 
overflow:hidden;


}


header {
 	box-shadow: 0px 2px -2px 2px #013867;
 	/*background-color: #1bb18c;*/
	background-color:rgba(0,0,0,0.3);
 	position: relative;
 	overflow: hidden;
 	padding: 10px;
 	margin: 30px;
 	height: 65px;
 	width: auto;
 	font-weight: 500;
 	opacity:0.7;

 	
	-webkit-transition: 0.5s; transition: 0.5s;


 /*	-webkit-transition: height 250ms ease-in-out;
	-moz-transition: height 250ms ease-in-out;
	-ms-transition: height 250ms ease-in-out;
	-o-transition: height 250ms ease-in-out;
	transition: height 250ms ease-in-out;

	-webkit-transition-delay: 250ms;
	-moz-transition-delay: 250ms;
	-ms-transition-delay: 250ms;
	-o-transition-delay: 250ms;
	transition-delay: 250ms;



box-shadow: 0px 0px 10px 2px #7C98A1;
*/
 }

 header:hover {
 	height: 420px;
 	opacity:1;
 	background-color:rgba(0,0,0,0.6);
 	
 	-webkit-transform:scale(1.02); transform:scale(1.02);
/*box-shadow: 0px 0px 10px 5px #84C4D2;*/
 	
 }

 header.open {
 	height: 400px;
 }

  .icon {
	display: inline-block;
	/*background-color:#0E304E;*/
	background:-webkit-radial-gradient(#215C98, #000308); 
background:radial-gradient(#215C98, #000308); 

	border-radius: 40px;
	height: 50px;
 	width: 50px;
 	line-height: 35px;
 	position: relative;
 	top: 9px;
 	overflow: hidden;

 }

.s1, .s2, .s3, .s4 {
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	-webkit-transition-delay: 550ms;
	-moz-transition-delay: 550ms;
	-ms-transition-delay: 550ms;
	-o-transition-delay: 550ms;
	transition-delay: 550ms;
	position: absolute;
	top: 10px;
	font-size: 22px;
	opacity: 0.99;
}




.s1 {
  left: 10px;
}

.s2 {
  left: 21px;
}

.s3 {
  left: 32px;
}

.s4 {
  left: 20px;
  top: 20px;
  opacity: 0;
}

.s1:before, .s2:before, .s3:before {
	position: absolute;
  content: "*";
}

.s4:before {
	content: '_';
}

header:hover .s1, .open .s1 {
  top: -1px;
}
header:hover .s2, .open .s2 {
  top: 50px;
}
header:hover .s3, .open .s3 {
  top: -1px;
}
header:hover .s4, .open .s4 {
  top: 8px;
  opacity: 1;
}

.icon:hover .s3:before {
  content: '_';
  top: -13px;
  left:-2px;

}
.title {
	color:#FFFFFF;
 	margin-left: 20px;
 	margin-top: 10px;
 	padding-bottom: 25px;

 }

 header p {
	line-height: 1.5em;
	margin-left: 70px;
	margin-top: 30px;
 	width: 395px;
	float: left;
	font-size: 18px;
	font-weight: 400;
 }

 header a {
 	color: #004682;
 }

 header a:hover {
 	text-decoration: none
 }

 sup {
 	display: inline-block;
	position: absolute;
	margin-top: -5px;
 	font-size: 12px;
 }

.announce{
	text-align: left;
	margin-left: 30px;
}
 

 .gettext {
	background: transparent;
	/*box-shadow: inset 0px 0px 0px 3px #FFFFFF;*/
	padding: 10px;
	height: 115px;
	width: auto;
	margin: 30px;

	opacity:0.85;
 	

	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;

}

.gettext input {
	padding-left: 30px;
	background: none;
	font-size: 65px;

	height: 100%;
	outline: 0px;
	width: 100%;
	border: 0px;
	font-family: Segoe UI;
	font-weight: lighter;

	
	
}

#btn{
	color:white;
}
#ipbox{
	-webkit-transition:.6s ease-out; transition:.6s ease-out;
	color: #FFFFFF;
	background-color:rgba(0,0,0,0.3);
}

#ipbox:hover{
	-webkit-transition:.6s; transition:.6s;
	background-color:rgba(0,0,0,0.6);
}
.gettext:hover{
	opacity:1;
	-webkit-transform:scale(1.04); transform:scale(1.04);
}

.resultwrap{
	text-align: left;
	
	margin-top: 100px;
	padding: 50px;
}

table, tr, td{
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 45px;
	color:white;
}

.waitdiv{
	text-align: center;
	color:yellow;

}

td{
	width:550px;
	padding: 35px;
}

a.git, a.by{ position:fixed; bottom:30px; right:5px; -webkit-transform:scale(0.8); -webkit-transform-origin:100% 100%; transform:scale(0.8); transform-origin:100% 100%; opacity:0.3; -webkit-transition:0.3s cubic-bezier(0.055, 0.6, 0.2, 1); transition:0.3s cubic-bezier(0.055, 0.6, 0.2, 1);
 }
	a.git:hover, a.by:hover{ padding-left:10px; padding-right:10px; background-color:rgba(0,0,0,0.3);-webkit-transform:scale(1.2); transform:scale(1.2); opacity:1; -webkit-transition:.6s ease-out; transition:.6s ease-out; }
		a.git img{ margin-right: 25px; }

	a.by{ margin-left: 25px; right:auto; left:5px; font-size:20px; color:#FFF; text-decoration:none; font-family: Segoe UI; -webkit-transform-origin:0% 100%; transform-origin:0% 100%; }
	a.git{  margin-right: 25px; right:auto; right:5px; font-size:20px; color:#FFF; text-decoration:none; font-family: Segoe UI; -webkit-transform-origin:100% 100%; transform-origin:100% 100%; }
	.social{ position:absolute; top:30px; right:20px;  opacity:0.7; -webkit-transition:.6s ease-out; transition:.6s ease-out; }
	.fbLike{ height:21px; width:100px; border:none; }
	.social:hover{	opacity:0.9; -webkit-transition:.2s ease-out; transition:.2s ease-out; -webkit-filter:none; -webkit-transform:scale(1.2); transform:scale(1.2); }
	/*.social.show{ top:5px; opacity:1; }
	
	.twitter-share-button{  }
	.social > *{ opacity:.5; -webkit-transition:.2s ease-out; transition:.2s ease-out;  }
	.social > *:hover{ opacity:1; }
	*/